/* div {
  height: 100px;
  width: 100px;
  background-color: #4dff00ff;
  margin: 0 auto; */
/* transition-duration: 1s;
  transition-delay: 1s; */
/* margin-top: 10px;
  transition: margin-top 2s ease-in 0.2s;
} */

/* #opacity {
  background-color: #ffa511;
  opacity: 1;
} */
/* div:hover { */
/* background-color: black;
  border-radius: 50%; */
/* margin-top: 400px;
  background-color: pink;
} */

/* section {
  margin-top: 100px;
} */

/* Box Shadow property */
/* div {
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #7aa874;
  margin: 10px auto;
  box-shadow: 2px 2px 8px black;
} */

/* div:nth-of-type(2n) {
  background-color: #f7db6a;
}

div:nth-of-type(3n) {
  background-color: #ebb02d;
}
transform

#one {
  transform: rotate(45deg);
}

#Two {
  transform: scale(0.5);
}

#Three {
  transform: translate(-100px);
}

#Four {
  transform: skew(30deg);
}

#Five {
  transform: rotate(30deg) translate(150px);
} */

/* Background Image */
/* div {
  width: 400px;
  height: 200px;
  background-color: #7aa874;
  margin: 10px auto;
  background-image: url(background\ img.jpg);
  background-size: cover;
  color: white;
} */

.card {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
}

img {
  width: 100%;
}
