/* *{
    font-family: 'Courier New';
}

h1{
    color: #1b74e4;
}

#searchbtn{
    background-color: black;
    color: white;
}

.userbtn{
    background-color: aqua;
} */

/* #outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
} */

/* h2 {
  display: inline;
  background-color: greenyellow;
}

span {
  display: block;
  background-color: pink;
} */

/* span {
  background-color: pink;
  border: 2px solid black;
  height: 100px;
  width: 200px;
  padding: 50px;
  margin: 20px;
}

div {
  border: 2px solid black;
  height: 100px;
  width: 200px;
  padding: 50px;
  margin: 20px;
} */

/* div {
  height: 200px;
  width: 200px;
  background-color: greenyellow;
  border: 2px solid black;
  margin: 5px;
  display: inline-block;
}

#third {
  display: none;
} */
/* .face {
  width: 400px;
  height: 400px;
  background-color: #ffa511;
  border-radius: 50%;
}

.mouth {
  width: 200px;
  height: 75px;
  background-color: brown;
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 250px;
  left: 100px;
}

.left-eye,
.right-eye {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
}

.right-eye {
  left: 250px;
} */

/* PET ADOPTION PAGE */

h2 {
  color: brown;
}

span {
  color: olive;
}

.card {
  width: 400px;
  border: 2px solid black;
  margin: 10px;
  border-radius: 25px;
  padding: 10px;
}

img {
  width: 100%;
  border-radius: 25px;
}

h4 {
  text-align: right;
  color: #3c787e;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 375px) {
  #pets {
    flex-wrap: wrap;
  }
}
