/* *{
    font-family: 'Courier New';
}

h1{
    color: #1b74e4;
}

#searchbtn{
    background-color: black;
    color: white;
}

.userbtn{
    background-color: aqua;
} */

/* #outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
} */

/* h2 {
  display: inline;
  background-color: greenyellow;
}

span {
  display: block;
  background-color: pink;
} */

/* span {
  background-color: pink;
  border: 2px solid black;
  height: 100px;
  width: 200px;
  padding: 50px;
  margin: 20px;
}

div {
  border: 2px solid black;
  height: 100px;
  width: 200px;
  padding: 50px;
  margin: 20px;
} */

div {
  height: 200px;
  width: 200px;
  background-color: greenyellow;
  border: 2px solid black;
  margin: 5px;
  display: inline-block;
}

#third {
  display: none;
}
