/* h1 {
    color: red;
    background-color: cornsilk;
}

p{
    color: blue;
    background-color: grey;
}

button{
    color: gold;
    background-color: black;
} */

/* Practice set CSS for Need Help */
/* h2{
    color: orange;
}

p{
    color: white;
    background-color: black;
}

button{
    color:white;
    background-color: blue;
} */

/* h2{
    color: olive;
} */

/* Properties */
/* h1{
    text-align: center;
    text-decoration: red wavy underline;
    letter-spacing: normal;
    font-size: 50px;
    font-family: avant garde, didot, sans-serif;
}

h3{
    text-align: start;
    text-decoration: pink dotted line-through;
}

p{
    font-weight: 400;
    line-height: 1.5;
    font-size: 15px;
}

h2{
    font-weight: 800;
    text-decoration:  blue double overline;
    font-family: impact;
}

a{
    text-decoration: none;
} */

/* Practice set */
/* h1{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal  double underline;
    text-transform: uppercase;
} */